extends layout

block content
  h1= title
  p Welcome to #{title}
  p Here are the links to the api files
  p localhost:3000/api/summer.json = Summer courses
  p localhost:3000/api/fall.json = Fall courses
  p localhost:3000/api/instructors.json = Instructors of fall and summer
  p I tried using a href but : gives an unexpected token error.
